<h1>Actualice sus Datos Personales</h1>
<p>Estos son sus datos personales por favor actualicelos si lo considera necesario:</p>
<%= render 'form' %>

<%= link_to 'Volver', dpersonal_path(@dpersonal) %>
